<div class="mainBody">

<div class="col-lg-12">

	<div class="postTitle">
    <!-- display the post title -->
		<h2>{{post.title}}</h2>
	</div>

  <!-- display the user's name by accessing the user object embedded in the post -->
  <p>By: {{post._author.username}}</p>

  <!-- display the post body -->
	<p>{{post.body}}</p>

    <div>
    <!-- add functionality that makes this Edit button work -->
		<button type="button" class="btn btn-primary" ng-click="showEdit()">Edit</button>

    <!-- add functionality that makes this Delete button work -->
		<button type="button" ng-click="deletePost(post._id)" class="btn btn-primary btn-danger">Delete</button>
	</div>
	<div ng-show="editing">
		<textarea type="text" style="width:100%">{{post.body}}</textarea>
		<button ng-click="submitEdit()">Submit</button>
		<button ng-click="cancelEdit()">Cancel</button>
	</div>

	<a ui-sref="main">Back to All Posts</a>

</div>
</div>